// Navigation
._ls__prev,
._ls__next {
  color: transparent;
  background: url('../images/arrow-down-white.svg') no-repeat;
  background-size: contain;
  font-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  transform: translateY(-50%) rotate(90deg);
  cursor: pointer;
  opacity: 0;
  transition: opacity $aniSpeed;

  &.active {
    opacity: 1;
  }
}

._ls__next {
  left: auto;
  right: 0;
  transform: translateY(-50%) rotate(270deg);
}

@media (min-width: 768px) {
  ._ls__prev,
  ._ls__next {
    width: 30px;
    height: 30px;
  }

  ._ls__prev {
    left: 20px;
  }

  ._ls__next {
    right: 20px;
  }
}
